@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: charmB ;
    src: url(../public/Charm/Charm-Bold.ttf);
  }
.charmB{
    font-family: charmB;
}

@font-face {
    font-family: charm ;
    src: url(../public/Charm/Charm-Regular.ttf);
  }
.charm{
    font-family: charm;
}

@font-face {
    font-family: oleoB ;
    src: url(../public/Oleo_Script/OleoScript-Bold.ttf);
  }
.oleoB{
    font-family: oleoB;
}

@font-face {
    font-family: oleo ;
    src: url(../public/Oleo_Script/OleoScript-Regular.ttf);
  }
.oleo{
    font-family: oleo;
}

@font-face {
  font-family: berk ;
  src: url(../public/BerkshireSwash-Regular.ttf);
}
.berk{
  font-family: berk;
}

@font-face {
  font-family: meri ;
  src: url(../public/Merriweather-Black.ttf);
}
.meri{
  font-family: meri;
}

@font-face {
  font-family: meriB ;
  src: url(../public/Merriweather-Bold.ttf);
}
.meriB{
  font-family: meriB;
}

@font-face {
  font-family: meriR ;
  src: url(../public/Merriweather-Regular.ttf);
}
.meriR{
  font-family: meriR;
}

@font-face {
  font-family: meriI ;
  src: url(../public/Merriweather-BoldItalic.ttf);
}
.meriI{
  font-family: meriI;
}

@font-face {
  font-family: meriBI ;
  src: url(../public/Merriweather-BoldItalic.ttf);
}
.meriBI{
  font-family: meriBI;
}